body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #fafafa;
    color: #2e2424;
    transition: 0.3s;
}

.dark {
    background: #121212;
    color: white;
}

.theme-btn {
    position: fixed;
    right: 20px;
    top: 20px;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer; 
}

.top-button {
    position: fixed;
    bottom: 30px;
    right: 30px;
    padding: 12px;
    border-radius: 50%;
    display: none;
    cursor: pointer;
}

.hero-content {
    text-align: center;
    background: rgba(219, 118, 197, 0.5);
    padding: 30px;
    border-radius: 10px;
    color: white;
}

.profile-img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 3px solid rgb(237, 147, 211);
    object-fit: cover;
}

.skills {
    max-width: 600px;
    margin: auto;
}

.skill {
    margin-bottom: 20px;
}

.bar {
    background: #ddd;
    height: 10px;
    border-radius: 5px;
}

.progress {
    height: 10px;
    background: rgb(233, 156, 202);
    width: 0;
    border-radius: 5px;
    transition: 2s;
}

.project-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

.project-card {
    width: 300px;
    background: white;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s ease;
}

.project-card:hover {
    transform: scale(1.05);
}

.project-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.slider-box {
    width: 400px;
    margin: auto;
}

.slider-box img {
    width: 400px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.contact {
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
}

.contact-box {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

.contact-box input,
.contact-box textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    background: #fff;
}

.contact-box textarea {
    height: 120px;
    resize: none;
}

.contact-btn {
    background: #2e1c1c;
    color: white;
    padding: 12px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 6px;
}

.contact-btn:hover {
    background: #4b2f2f;
}
